:root {
  --primary-font: "DM Sans", serif;
  --primary-gradient: linear-gradient(180deg, #9895ff 0%, #514dcc 100%);
  --color-primary: #29294b;
  --color-secondary: #696981;
  --color-link: #0d6efd;
  --bg-primary: #0d6efd;
  --bg-body: #fdfdff;
}
