@import "../../styles//variables.scss";



.image-upload{ .MuiButtonBase-root {
  width: 100%;
  background: transparent !important;}
}
button.cancel-btn {
  color: #818181;
  background: transparent !important;
}